{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Metodos Numericos</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icono" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <div class="main">
        <section class="container-panel">
            <header class="top">
                <h1>Metodos Numericos</h1>
            </header>
            <hr class="separador">
            <nav class="enlaces">
                <div class="item">
                    <a href="">Enlace1</a>    
                </div>
                <div class="item">
                    <a href="">Enlace1</a>    
                </div>
                <div class="item">
                    <a href="">Enlace1</a>    
                </div>
                <div class="item">
                    <a href="">Enlace1</a>    
                </div>
                <div class="item">
                    <a href="">Enlace1</a>    
                </div>
                <div class="item">
                    <a href="">Enlace1</a>    
                </div>
            </nav>
        </section>
        <section class="container">
            <form action="metodoBiseccion" method="post">
                {% csrf_token %}
                <input type="text" name="nombre">
                <button type="submit">enviar</button>
            </form>
            {% block content %}
            {% endblock %}
        </section>
    </div>
</body>
</html>